# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/web/core
/web/libraries
/web/modules/contrib
/web/profiles/contrib
/web/themes/contrib
/web/sites/default/files/*
# Allow .htaccess
!/web/sites/default/files/.htaccess

# Ignore Composer-managed dependencies.
vendor/*
!vendor/.gitkeep

# Ignore local configuration files.
.env.local

